{% extends "layout.html" %} {% block body %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{url_for('index')}}">Index</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{url_for('section_index')}}">Forums</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{ section.name }}</li>
    </ol>
</nav>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">
            <h2>{{ section.name }} </h2>
        </h5>
        <form method="POST" autocomplete="off" action="{{ url_for('threads_create') }}">
            <div class="form-group">
                <label>{{ form.name.label }}</label>
                {{ form.name }} {{form.section_id}}
                <button type="submit" class="btn btn-primary">Create new Thread</button>
            </div>
            {% for error in form.name.errors %}
            <div>
                {{ error }}
            </div>
            {% endfor %}
        </form>
    </div>
</div>

{% if pinned %}
<div id="contain" class="jumbotron" style="margin-bottom: 1rem; padding:3%">
    <h3>
        <span class="badge badge-danger">Pinned Threads</span>
    </h3>
    <table class="table">
        <tr>
            <th scope="col">Pinned Thread</th>
            <th scope="col">Owner</th>
            <th scope="col"></th>
        </tr>
        {% for thread in pinned %}
        <tr>
            <td scope="row">{{ thread.name }}</td>
            <td>{{ thread.owner }}</td>

            <td>
                <a href="{{ url_for('show_thread', thread_id=thread.id) }}">Open thread!</a>
            </td>
            {% if current_user.role == 'Admin' %}
            <td>
                <form method="POST" action="{{ url_for('thread_remove', thread_id=thread.id) }}">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Delete Thread</button>
                </form>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</div>
{% endif %} {% if not mythreads.empty %}
<div id="contain" class="jumbotron" style="margin-bottom: 1rem; padding:3%">
    <h3>
        <span class="badge badge-warning">My Threads</span>
    </h3>
    <table class="table">
        <tr>
            <th scope="col">My Threads</th>
            <th scope="col">Open</th>
        </tr>
        {% for thread in mythreads %}
        <tr>
            <td scope="row">{{ thread.name }}</td>
            <td>
                <a href="{{ url_for('show_thread', thread_id=thread.id) }}">Open thread!</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endif %}

<div id="contain" class="jumbotron" style="margin-bottom: 1rem; padding:3%">
    <h3>
        <span class="badge badge-primary">All Threads</span>
    </h3>
    <table class="table">
        <tr>
            <th scope="col">Thread</th>
            <th scope="col">Owner</th>
            <th scope="col"></th>
        </tr>
        {% for thread in threads %} {% if not thread in pinned %}
        <tr>
            <td scope="row">{{ thread.name }}</td>
            <td>{{ thread.owner }}</td>

            <td>
                <a href="{{ url_for('show_thread', thread_id=thread.id) }}">Open thread!</a>
            </td>
            {% if current_user.role == 'Admin' %}
            <td>
                <form method="POST" action="{{ url_for('thread_remove', thread_id=thread.id) }}">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Delete Thread</button>
                </form>
            </td>
            {% endif %}
        </tr>
        {% endif %} {% endfor %}
    </table>


</div>
{% if not threads %}
<div class="col-sm">
    <div class="row justify-content-center">
        <div style="display:table-cell; vertical-align:middle; text-align:center">
            <img class="display-4" src="{{url_for('static', filename='confused.gif')}}" width="200">
        </div>
    </div>
</div>
<h3 style="text-align: center">No Threads!</h3>
{% endif %} {% endblock %}