{% extends "layout.html" %} {% block body %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{url_for('index')}}">Index</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{url_for('section_index')}}">Forums</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Section</li>
    </ol>
</nav>

<h2>{{ section.name }}</h2>
<form method="POST" action="{{ url_for('threads_create') }}">
    <div class="form-group">
        <label>{{ form.name.label }}</label>
        {{ form.name }} 
        {{form.section_id}}
        <button type="submit" class="btn btn-primary">Create new Thread</button>
    </div>
    {% for error in form.name.errors %}
    <div>
        {{ error }}
    </div>
    {% endfor %}
</form>

<table class="table">
    <tr>
        <th scope="col">My Threads</th>
        <th scope="col">Open</th>
    </tr>
    {% for thread in mythreads %}
    <tr>
        <td scope="row">{{ thread.name }}</td>
        <td>
            <a href="{{ url_for('show_thread', thread_id=thread.id) }}">Open thread!</a>
        </td>
    </tr>
    {% endfor %}
</table>

<table class="table">
    <tr>
        <th scope="col">Thread</th>
        <th scope="col">Owner</th>
        <th scope="col"></th>
    </tr>
    {% for thread in threads %}
    <tr>
        <td scope="row">{{ thread.name }}</td>
        <td>{{ thread.owner }}</td>

        <td>
            <a href="{{ url_for('show_thread', thread_id=thread.id) }}">Open thread!</a>
        </td>
        {% if current_user.role == 'Admin' %}
        <td>
            <form method="POST" action="{{ url_for('thread_remove', thread_id=thread.id) }}">
                <input type="submit" value="Delete Thread!" />
            </form>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>


{% endblock %}