<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <title>VR The Adventure - Forums</title>
  <link rel="icon" href="{{url_for('static', filename='PlayerBox.png')}}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">

  <style>
    #meh {
      background-image: url("{{url_for('static', filename='background.png')}}")
    }

    .display-4 {
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-crisp-edges;
      image-rendering: -webkit-optimize-contrast;
      -ms-interpolation-mode: nearest-neighbor;
      image-rendering: pixelated;
    }
  </style>

</head>

<body style="background-color:rgb(125, 155, 131);">


  <div class="row">
    <div id="contain" class="col-sm-2" style="background-color:rgba(255, 255, 255, 0.404);"></div>
    <div id="contain" class="col-sm-8">
      <div id="meh" class="row justify-content-center" style="background-color:rgba(32, 97, 63, 0.973);">
        <div style="display:table-cell; vertical-align:middle; text-align:center">
          <a href="{{ url_for('index') }}">
            <img src="{{url_for('static', filename='logo.png')}}">
          </a>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-sm-12">
          <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-2 text-light" >
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
              aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav mr-auto">
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('threads_index') }}">My threads </a>
                </li>
                {% endif %}
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('section_index')}}">Forum</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('auth_list') }}">Users</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('tags_index') }}">Tags</a>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0" method="POST" action="{{ url_for('threads_search') }}">

                <div class="custom-control custom-checkbox my-1 mr-sm-2">
                  <input type="checkbox" class="custom-control-input" id="select" name="select">
                  <label class="custom-control-label" for="select">Username</label>
                </div>

                <input id="search" name="search" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
              <div class="form-inline mr-sm-2" style="padding-left: 30px; padding-right: 30px">
                {% if current_user.is_authenticated %}
                <span style="padding-left: 10px; padding-right: 10px"> Logged in: {{ current_user.name }}</span>

                <a href="{{ url_for('auth_view') }}" class="btn btn-primary btn-sm" role="button" aria-pressed="true">Profile information</a>
                <span class="caret"></span>
                <a href="{{ url_for('auth_logout') }}" class="btn btn-primary btn-sm" role="button" aria-pressed="true">Logout .</a>
                {% else %}
                <a href="{{ url_for('auth_login') }}" class="btn btn-primary btn-sm" role="button" aria-pressed="true">Login</a>
                <span class="caret"></span>
                <a href="{{ url_for('auth_register') }}" class="btn btn-primary btn-sm" role="button" aria-pressed="true">Register</a>
                {% endif %}

              </div>
            </div>
          </nav>
        </div>
      </div>



      <main role="main" class="container-fluid" style="max-height: 100%; min-height: 100vh; position:relative">
        <div>
          {% block body %}
          <p>
            Content.
          </p>
          {% endblock %}
        </div>
      </main>

      <div class="jumbotron text-center bg-dark mb-2 text-light" style="margin-bottom:0">
        <div class="row justify-content-md-center">
          <div class="col-sm-1">
            <div class="row justify-content-center">
              <div style="display:table-cell; vertical-align:middle; text-align:center">
                <img class="display-3" src="{{url_for('static', filename='pc.png')}}" width="100">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mt-3">
            <p class="text-center text-white">© Copyright 2018 Rex Industries - All rights reserved. </p>
          </div>
        </div>
      </div>
    </div>
    <div id="contain" class="col-sm-2" style="background-color:rgba(255, 255, 255, 0.404);"></div>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</body>

</html>