{% extends "layout.html" %} {% block body %}
{% if mythreads %}
<table>
  <tr>
    <th>Thread Name</th>
    <th>Section</th>
  </tr>
  {% for thread in mythreads %}
  <tr>
    <td>{{ thread.name }}</td>
    <td>{{ thread.section }}</td>

    <td>
      <form method="POST" action="{{ url_for('show_thread', thread_id=thread.id) }}">
        <input type="submit" value="Open Thread!" />
      </form>
    </td>
    <td>
      <form method="POST" action="{{ url_for('thread_remove', thread_id=thread.id) }}">
        <input type="submit" value="Delete Thread!" />
      </form>
    </td>
  </tr>
  {% endfor %}
</table>
{% else %}
No Threads found!
{% endif %}

{% endblock %}