{% extends "layout.html" %} {% block body %}
<p>
	{{ thread.name }} by {{ owner.name }}!!!
</p>
<table>
	<tr>
		<th>User</th>
		<th>Message</th>
		<th>Date</th>
	</tr>
	{% for comment in comments %}
	<tr>
		{% for user in users %} {% if user.id == comment.account_id %}
		<td>{{ user.name }}</td>
		{% endif %} {% endfor %}
		<td> {{comment.message}} </td>
		<td> {{comment.date_modified}} </td>
	</tr>
	{% endfor %}
</table>

<form method="POST" action="{{ url_for('comments_create') }}">
	<table>
		<tr>
			<td>
				{{ form.message.label }}
			</td>
			<td>
				{{ form.message }}
			</td>
			<td>
				{% for error in form.message.errors %}
				<li>{{ error }}</li>
				{% endfor %}
			</td>
			<td>
				{{form.thread_id}}
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<input type="submit" value="Add Comment" />
			</td>
		</tr>
	</table>
</form>
{% endblock %}