{% extends "layout.html" %} {% block body %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{url_for('index')}}">Index</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Users</li>
    </ol>
</nav>


<div id="contain" class="jumbotron">
    {% if not users and not current_user.is_authenticated %} No active users! Register! {% else %}
    <h2>Active users in website!</h2>

    {% if current_user.is_authenticated %}
    <div class="card">
        <div class="card-body">
            <h2 class="card-title"> {{ current_user.username }} </h2>
            <p class="card-text">{{ current_user.role }}</p>
        </div>
    </div>
    {% endif %}

    {% for user in users %}
    <div class="card">
        <div class="card-body">
            <h2 class="card-title"> {{ user.username }} </h2>
            <p class="card-text">{{ user.role }}</p>

            {% if current_user.role=="Admin" %}
            <form method="POST" action="{{ url_for('auth_promote', user_id=user.id) }}">
                <input type="submit" value="Promote User" />
            </form>

            <form method="POST" action="{{ url_for('auth_remove', user_id=user.id) }}">
                <input type="submit" value="DELETE ACCOUNT" />
            </form>

            {% endif %}
        </div>
    </div>
    {% endfor %} {% endif %}

</div>{% endblock %}