{% extends "layout.html" %} {% block body %}

<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Username
        </th>
        <th>
            Role
        </th>
        <th>
            Date Joined
        </th>
    </tr>
    <tr>
        <td>
            {{ user.name }}
        </td>
        <td>
            {{ user.username }}
        </td>
        <td>
            {{ user.role }}
        </td>
        <td>
            {{user.date_created}}
        </td>
    </tr>

    <form method="GET" action="{{ url_for('auth_modify') }}">
        <input type="submit" value="Modify" />
    </form>
    {% endblock %}