{% extends "layout.html" %}

  {% block body %}
  <p>
    Hei maailma! T.Kukkis
  </p>
  <p>
    <!-- etsitaan muuttujaa nimelta nimi ja asetetaan sen arvo tahan -->
    {{ nimi }}
  </p>

  <ul>
    <!-- Yritetaan kayda lista-nimista tietorakennetta lapi.
	 Jokaiselle tietorakenteen alkiolle luodaan li-elementti, 
	 jonka sisalle asetetaan alkion arvo. -->
    {% for arvo in lista %}
    <li>{{ arvo }}</li>
    {% endfor %}
  </ul>

  <table>
    <tr>
      <th>Nimi</th>
    </tr>
    <!-- Yritetaan kayda tietorakenne nimelta esineet lapi. 
	 Jokaiselle esineelle luodaan oma rivi taulukkoon. 
	 Jokaista taulukon solua luodessa oletetaan, etta 
	 esine on olio, ja etta alkiolla on muuttuja name. 
	 Muuttujan arvo asetetaan solun arvoksi. -->
    {% for esine in esineet %}
    <tr>
      <td>{{ esine.name }}</td>
    </tr>
    {% endfor %}
  </table>

  {% endblock %}